body {
  max-width: 1300px;
  margin: 0 auto;
  hyphens: auto;
  word-wrap: break-word; 
  overflow-wrap: break-word; /
}
p,
h1,h2,h3,h5,h6{
  hyphens: auto;
  word-wrap: break-word; 
  overflow-wrap: break-word; 
}
.blocks {
  width: 100%;
}
#main-header img {
  width: 100%;
  height: 100%;
}
#main-header .port-item {
  width: 30%;
}
#main-header .port-item:hover {
  opacity: 0.8;
  cursor: pointer;
}
.bg-black {
  color: #fff;
  background: #000;
}
a {
  text-decoration: none;
}
p {
  font-size: 19px;
  font-weight: 500;
  line-height: 1.5;
}
#work .col-md-3 h6 {
  border-bottom: 1px solid #999;
}
.name-icons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
/* For screens smaller than 768px */
/* General Flexbox Styling for Port Items */

.port-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.port-item {
  flex: 1 1 25%;
  box-sizing: border-box;
  text-align: center;
  padding: 10px 0;
  margin: 0;
}
/* Adjust Icon and Text for Better Responsiveness */
.port-item i {
  font-size: 30px;
}
i{
  font-size: 30px!important;
}
.port-item span {
  font-size: 0.9rem;
}
.myemail{
  font-size: 22px;
  font-weight: 300;
  padding: 5px 5px;
}
.footer{
  font-size: 14px;
  font-weight: 300;
}
/* responsive */
@media (min-width: 1199px) {
  .port-item {
    padding: 3em !important;
  }
}
/* Mobile-specific Adjustments */
@media (max-width: 768px) {
  .port-section {
    justify-content: space-between;
  }
  .port-item i {
    flex: 1 1 25%;
    padding: 5px 0;
    margin: 0;
    font-size: 24px!important;
  }
  i{
    font-size: 24px!important;
  }
  .myemail {
    width: 100%;
   
    padding:  0 !important;
    margin: 0 !important;
  }
  .footer{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 5px;
  }
}
@media (max-width: 468px) {
  .myname {
    display: flex;
    justify-content: flex-start !important;
    text-align: start !important;
    max-width: 100% !important;
    padding: 0 !important;
    margin: 0 !important;
    font-size: 32px !important;
    letter-spacing: 0.5px;
  }
  .myproff {
    display: flex;
    justify-content: flex-start !important;
    text-align: start !important;
    width: 100% !important;
    padding: 0 !important;
    margin: 0 !important;
    font-size: 26px !important;
  }
  .cv{
    font-size: 23px;
  }
 
  .mypage{
    font-size: 33px;
  }
  .port-item i {
    flex: 1 1 25%;
    padding: 5px 0;
    margin: 0;
    font-size: 22px!important;
  }
  .myemail {
    width: 100%;
    padding: 0 !important;
    margin: 0 !important;
  }
  .footer {
    font-size: 14px !important;
  }
}
/*  */
@media (max-width: 380px) {
  .myname {
    font-size: 29px !important;
    margin-bottom: 8px!important;
  }
  .myproff {
    font-size: 24px !important;
  }
  .mypage{
    font-size: 27px;
  }
  .port-item i {
    flex: 1 1 25%;
    padding: 5px 0;
    margin: 0;
    font-size: 20px!important;
  }
 
}
/*  */
@media (max-width: 355px) {
  .mypage{
    font-size: 28px;
  }
  .myname {
    font-size: 26px !important;
    margin-bottom: 8px!important;
  }
  .myproff {
    font-size: 22px !important;
  }
  .cv{
    font-size: 20px;
  }
 i {
    font-size: 10px;
    text-align: center !important;
  }
 
  .myemail {
    width: 100%;
    padding: 0 !important;
    margin: 0 !important;
  }
  .footer {
    font-size: 12px !important;
  }
}
/*  */
@media (max-width: 335px) {
  .myname {
    font-size: 24px !important;
    margin-bottom: 8px!important;
  }
  .myproff {
    font-size: 20px !important;
  }
  .mypage{
    font-size: 26px;
  }
 
  
  .myemail {
    width: 100%;
    padding: 0 !important;
    margin: 0 !important;
  }
  .footer {
    font-size: 12px !important;
  }
}
