body {
  max-width: 1300px;
  margin: 0 auto;
}
.blocks {
  width: 100%;
}
#main-header img {
  width: 100%;
  height: 100%;
}
#main-header .port-item {
  width: 30%;
}
#main-header .port-item:hover {
  opacity: 0.8;
  cursor: pointer;
}
.bg-black {
  color: #fff;
  background: #000;
}
a {
  text-decoration: none;
}
p {
  font-size: 19px;
  font-weight: 500;
  line-height: 1.5;
}
#work .col-md-3 h6 {
  border-bottom: 1px solid #999;
}
.name-icons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
/* For screens smaller than 768px */
/* General Flexbox Styling for Port Items */

.port-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.port-item {
  flex: 1 1 25%;
  box-sizing: border-box;
  text-align: center;
  padding: 10px 0;
  margin: 0;
}

/* Adjust Icon and Text for Better Responsiveness */
.port-item i {
  font-size: 1.5rem;
}

.port-item span {
  font-size: 0.9rem;
}
/* @media (max-width: 1200px) {
  .myname {
    display: flex;
    justify-content: flex-start !important;
    text-align: start !important;
    width: 300px !important;
    padding: 0 !important;
    margin: 0 !important;
    font-size: 35px !important;
  }
  .fas,
  .fab {
    font-size: 26px !important;
  }
} */
@media (min-width: 1199px) {
  .port-item {
    padding: 3em !important;
  }
  .footer {
    font-size: 16px;
  }
}

/* Mobile-specific Adjustments */
@media (max-width: 768px) {
  .port-section {
    justify-content: space-between;
  }

  .port-item {
    flex: 1 1 25%;
    padding: 5px 0;
    margin: 0;
  }
}
@media (max-width: 468px) {
  .myname {
    display: flex;
    justify-content: flex-start !important;
    text-align: start !important;
    max-width: 100% !important;
    padding: 0 !important;
    margin: 0 !important;
    font-size: 30px !important;
  }
  .myproff {
    display: flex;
    justify-content: flex-start !important;
    text-align: start !important;
    width: 100% !important;
    padding: 0 !important;
    margin: 0 !important;
    font-size: 24px !important;
  }
  .icons-group > div {
    margin-top: 25px;
    font-size: 16px;
    text-align: center !important;
  }
  .iconcv {
    margin-top: 25px;
    font-size: 16px;
  }
  .myemail {
    width: 100%;
    padding: 0 !important;
    margin: 0 !important;
  }
  .footer {
    font-size: 14px !important;
  }
}
@media (max-width: 355px) {
  .myname {
    display: flex;
    justify-content: flex-start !important;
    text-align: start !important;
    max-width: 100% !important;
    padding: 0 !important;
    margin: 0 !important;
    font-size: 27px !important;
  }
  .myproff {
    display: flex;
    justify-content: flex-start !important;
    text-align: start !important;
    width: 100% !important;
    padding: 0 !important;
    margin: 0 !important;
    font-size: 22px !important;
  }
  .icons-group > div {
    margin-top: 25px;
    font-size: 16px;
    text-align: center !important;
  }
  .fas,
  .fab {
    font-size: 22px !important;
  }
  .iconcv {
    margin-top: 25px;
    font-size: 16px;
  }
  .myemail {
    width: 100%;
    padding: 0 !important;
    margin: 0 !important;
  }
  .footer {
    font-size: 12px !important;
  }
}
@media (max-width: 335px) {
  .myname {
    display: flex;
    justify-content: flex-start !important;
    text-align: start !important;
    max-width: 100% !important;
    padding: 0 !important;
    margin: 0 !important;
    font-size: 25px !important;
  }
  .myproff {
    display: flex;
    justify-content: flex-start !important;
    text-align: start !important;
    width: 100% !important;
    padding: 0 !important;
    margin: 0 !important;
    font-size: 20px !important;
  }
  .icons-group {
    margin-top: 25px;
    font-size: 16px;
  }
  .iconcv {
    margin-top: 25px;
    font-size: 16px;
  }
  .myemail {
    width: 100%;
    padding: 0 !important;
    margin: 0 !important;
  }
  .footer {
    font-size: 12px !important;
  }
}
